
html {
	height: 		100%;
}

body {
	margin: 		0px;
	height: 		100%;			
	font-family: 	Verdana;  
	font-size: 		12px;	
}

body > div {
	display: 		flex;		/*	to be rid of the small space at bottom 	*/
	flex-direction: column;
	border:			0px solid red;
	height: 		100%;
}

.tree {
	margin: 		10px;
	border:			solid 1px black;
	width: 			400px;
	height: 		240px;
	padding-top:	10px;
}

.master-control {
	margin: 		10px;
	border:			solid 0.5px black;
	width: 			400px;
	height: 		 30px;
	padding-top:	10px;
}

.list {
	margin: 		10px;
	border:			solid 1px black;
	width: 			400px;
	height: 		 80px;
	padding-top:	10px;
	overflow-y:		auto;
}



.inline {
	margin: 		10px;
	border:			solid 1px black;
	width: 			400px;
	height: 		40px;
}

.inline-item {
	display: 		table-cell;
	border: 		solid 1px green;
	width: 			80px;
	height: 		14px;
	padding-top:	5px;
}

.not-ugly-button {
	background-color: 	white;
	border-style: 		solid;
	border-width: 		1px;
	margin-left: 		10px;
	padding-left:		10px;
	padding-right:		10px;
	padding-top:		2px;
	font-size:			12px;
}